.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    padding: 2rem;
  }

.button {
    display: block;
    margin: 0 auto;
    padding: 0.5em 1.5em;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
    flex-grow:1;
}

.answer-list {
    list-style-type: none;
    padding: 0;
}

.answer-item {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.133s;

}

.answer-item:active {
    background-color: #d3d3d3;
}

.answer-item:hover {
    background-color: #e3e3e3;
}

.disabled {
    pointer-events: none;
}

.answer-item.correct {
    background-color: #00CF00;
    transition: background-color 1s;
}

.answer-item.incorrect {
    background-color: red;
    transition: background-color 1s;
}



.emoji {
    font-size: 48px;
    margin-bottom: 10px;
}

.result-text {
    font-size: 30px;
}

.menu-text {
    padding: 0rem 1rem;
    margin: 1rem;
    max-width: 20rem;
    align-self: start;
}
  
.card-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card-header-btns {
    display: flex;
    gap: 1em;

}

.skip-button {
    background-color: white;
    color: #333333;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.133s;
}

.skip-button:hover {
    background-color: #e3e3e3;
}

.card-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 9px;
}

.results-inner {
    display: flex;
    flex-direction: column;
}

.results-inner > h1 {
    margin: 0;
}

.results-inner > ul {
    align-self: center;
}

.flex-left {
    justify-self: start;
}

.flex-right {
    justify-self: end;
}

.correct-stat {
    color: green;
    font-weight: bold;
}

.incorrect-stat {
    color: red;
    font-weight: bold;
}
